/* src/App.css */
.addTaskIconApp {
  font-size: 2rem;
  color: white;
}

.addTaskDiv {
  position: fixed;
  margin-top: 2%;
  /* padding: 0.3rem 0.5rem 0.3rem 0.5rem; */
  background-color: #0d6efd;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}


.toastContainerApp{
  /* z-index: 11000; */
}

@media only screen and (max-width: 1000px) {
  .addTaskDiv {
    position: fixed;
    /* padding: 0.3rem 0.5rem 0.3rem 0.5rem; */
    background-color: #0d6efd;
    /* margin-top: 12%; */
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
}

.btn-primary {
  border-top-right-radius: 10rem !important;
  border-bottom-right-radius: 10rem !important;
  padding: 0.3rem 0.5rem 0.3rem 1rem !important;
  --bs-btn-padding-x: 0 !important;
}

.mainBody{
  margin-top: 6rem;
}
/* .btn:hover{
  border-color: var(--bs-btn-hover-border-color);
} */