.boardStyle {
  text-align: center;
  margin-top: 6%;
  /* background-color: #f4f5f7; */
}

@media only screen and (max-width: 600px) {
  .boardStyle {
    text-align: center;
    margin-top: 15%;
  }
}

.boardTitle {
  text-align: left;
  margin-left: 32%;
}

.taskColumnBoard {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */   
  padding: 0 30px;
  flex-shrink: 0;
  /* overflow-x: auto; */
  /* border: 1px solid #ccc; */
  /* overflow-y: auto; */
}

.columnBoard{
  display: flex;
  /* background-color: #f4f5f7; */
  padding: 30px;
  flex-shrink: 0;
}

.deleteWarning{
  margin-top: 10%;
}

.okButton{
  cursor: pointer;
}

.alartDiv{
  top: 21%;
  right: 0.1%;
}
