.moduleContainer {
  border-radius: 7px;
  padding: 1rem;
  margin: 1 rem;
  box-shadow: 0 0 4px 0.1 blue;
  font-family: Arial, Helvetica, sans-serif;
}

.addModuleIcon {
  font-size: 2rem;
}

.moduleTitle {
  font-weight: bold;
  font-size: 1.1rem;
}

.moduleModule {
  text-align: center;
  padding-top: 1rem;
  font-size: 1 rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.taskFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.iconStyle {
  font-size: 1 rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjust columns dynamically */
  gap: 1rem; /* Add spacing between columns */
  border-radius: 7px;
  padding: 1rem;
  /* margin: 0 1rem; */
  box-shadow: 0 0 4px 0.1 blue;
  font-family: Arial, Helvetica, sans-serif;
}

.module {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: alias;
}

.addModule {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.iconListBar {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-self: end;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 10px;
  transition: width 0.3s;
}
.iconListBar:hover {
  width: 10rem;
  padding: 0 1rem;
  border-radius: 10px;
}

.icons {
  margin: auto;
  border-radius: 20%;
  font-size: 1rem;
}

.icons:hover {
  cursor: pointer;
  font-size: 1 rem;
}

.iconsList {
  margin: auto;
  display: none;
  transition: display 12s;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  padding-left: 10px;
}
.iconListBar:hover .iconsList {
  display: inline-flex;
  width: 78%;
  height: 70%;
}
