/* src/App.css */
/* Body and Sidebar Layout */
/* body {
  display: flex;
} */

.navbar {
  background-color: #ebecf0;
  padding: 0 !important;
  position: fixed;
  --bs-navbar-padding-y: 0;
}

.esquireLogo {
  height: auto;
  max-width: 10rem !important;
}

/* Nav right bar */
.nav-item{
  padding: 1rem;
}

.nav-icon{
  font-size: 1.5rem;
  cursor: pointer;
}

/* .rotating{
  animation: loading 3s linear infinite;
  @keyframes loading {
   0% { 
     transform: rotate(0); 
   }
   100% { 
     transform: rotate(360deg);
   }
  }
 } */


/* .onhover-dropdown:hover .onhover-show-div {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  border-radius: 5px;
  overflow: hidden;
}

.notification-dropdown {
  top: 52px;
  width: 300px;
  right: -20px !important;
  left: unset;
}

.onhover-show-div {
  width: 330px;
  top: 50px;
  right: 0;
  left: unset;
} */
