p,a {
  margin: 0;
  text-decoration: none;
}

.navText {
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #0D5178;
  text-decoration: none;
}

.navbar {
  background-color: #ebecf0;
  padding: 0 !important;
  position: fixed;
  --bs-navbar-padding-y: 0;
}

.esquireLogo {
  height: auto;
  max-width: 10rem !important;
}

/* Nav right bar */
.nav-item {
  padding: 1rem;
}

.nav-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #0D5178;
  font-weight: 600;
}

.big-icon{
  font-size: 1rem;
  cursor: pointer;
  color: #0D5178;
  font-weight: 600;
}

.profile {
  animation: rotating 3s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-seceondary {
  top: 6rem;
}

.navSecondaryContainer{
  justify-content: flex-start !important;
}

.pageHeaderContainer{
  /* margin-top: 4rem; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px aqua;
}

.pageHeaderMenu{
  font-weight: 600;
  color: #0D5178;
}

/* .onhover-dropdown:hover .onhover-show-div {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  border-radius: 5px;
  overflow: hidden;
}

.notification-dropdown {
  top: 52px;
  width: 300px;
  right: -20px !important;
  left: unset;
}

.onhover-show-div {
  width: 330px;
  top: 50px;
  right: 0;
  left: unset;
} */
