.projectLogo {
  height: 4rem;
  width: auto;
}

.infoButton {
  border: 1px solid #0d6efd;
  cursor: pointer;
}

.dropdown-menu {
  margin-top: 0.5rem;
  margin-left: -1rem;
  box-shadow: 1px 1px 5px #0d6efd;
}

.addWorkProcessButton {
  background-color: #0d6efd;
  p {
    color: white;
  }
}

.addWorkProcessButton:hover,
.dropdown-item:hover {
  background-color: #0c59ce;
  p {
    color: white;
  }
}
