p,
a {
  margin: 0;
  text-decoration: none;
  color: #0d5178;
}
span,
p,
h1 {
  color: #0d5178;
}
.navText {
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #0d5178;
  text-decoration: none;
}

.navbar {
  background-color: #ebecf0;
  padding: 0 !important;
  position: fixed;
  --bs-navbar-padding-y: 0;
}

.esquireLogo {
  max-height: 60px;
  max-width: auto;
}

/* Nav right bar */
.nav-item {
  padding: 0.5rem;
}

.nav-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #0d5178;
  font-weight: 600;
}

.big-icon {
  font-size: 1rem;
  cursor: pointer;
  color: #0d5178;
  font-weight: 600;
}

.small-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #0d5178;
  font-weight: 600;
}

.profile {
  animation: rotating 3s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-seceondary {
  min-width: -webkit-fill-available;
  top: 5rem;
  position: fixed;
  --bs-bg-opacity: 1;
  z-index: 1030;
}

.navSecondaryContainer {
  justify-content: flex-start !important;
}

.pageHeaderContainer {
  /* margin-top: 4rem; */
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px #EBECF0;
}

.pageHeaderMenu {
  font-weight: 700;
  color: #0d5178;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  color: #0d5178;
}

.dropdown-title {
  text-align: center;
  color: #0d5178;
  padding: 1rem 0 0;
}

.notifications {
  text-align: center;
  color: #0d5178;
}

.onhover-dropdown:hover .onhover-show-div {
  /* opacity: 1;
  border-radius: 5px;
  display: block;
  transform: translateY(0px);
  transition: all linear 0.5s; */

  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  overflow: hidden;
}

.onhover-show-div {
  box-shadow: 1px 1px 10px #0d5178;
  visibility: hidden;
  display: block;
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  top: 5rem;
  width: 250px;
  right: -20px !important;
  left: unset;
  transform: translateY(30px);
  transition: all linear 0.3s;
}
